:where(.css-dev-only-do-not-override-1fviqcj).ant-table-wrapper {
    clear: both;
    max-width: 102%;
    margin-inline-start: 22px;
}
:where(.css-dev-only-do-not-override-14wwjjs).ant-table-wrapper {
    clear: both;
    max-width: 97%;
    margin-inline-start: 22px;
}