.ant-menu-overflow {
    justify-content: flex-end;
}
.ant-menu-light {
    background: #fff0 !important;
    border-radius: 12.9916px;
    padding-inline: 0rem;
    /* margin-inline: 1rem; */
}
.ant-menu-horizontal
{
    border-bottom:none;
}
.dispflex
{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
}
.divApplogo
{
    padding: 0.5rem;
}
.divAppname
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
}
.PayPreFont
{
    font-family: 'Playball', cursive;
}
